@model IEnumerable<NomadCars.Models.Car>
@using NomadCars.Models

@{
    ViewBag.Title = "Used Cars";
}
<header class="jumbotron">
    <h2>Nomad Cars</h2>
    <h3>Currenlty Available Used Cars</h3>
</header>

@foreach (var car in Model)
{
    <section class="row">
        <section class="col-lg-4">
            @if (car.ImagesList.Count() == 0)
            {
                <img src="https://via.placeholder.com/350x300" alt="Image of car" title="image of car" />
            }
        </section>
        <section class="col-lg-6">
            <h2>@car.CarSpec.Make @car.CarSpec.Model.GetDisplayName()</h2>
            <h4>
                @car.TransmissionType | @car.CarSpec.FuelType.GetDisplayName() | 
                @car.NumberPlate | @car.CarSpec.DriveTrain.GetDisplayName() | @car.Mileage miles
            </h4>
        </section>
        <section class="col-lg-2">
            <h2>£@car.Price</h2>
        </section>
    </section>
    <br /><br />
}


