@model NomadCars.Models.Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}
<header class="jumbotron">
    <h1>Nomad Cars</h1>
    <h2>Details of @Model.FullName</h2>

</header>
<section class="row">
    <section class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    @*@*<dt>
                            @Html.DisplayNameFor(model => model.Address.House)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address.House)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.Department)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HomePhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HomePhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MobilePhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MobilePhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaritalStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaritalStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsCustomer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsCustomer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsStaff)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsStaff)
                    </dd>

                </dl>
                <p class="text-right">
                    @Html.ActionLink("Edit Personal Details", "Edit", new { id = Model.PersonID }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </section>
    <section class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Address Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Address.House)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address.House)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address.StreetName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address.StreetName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address.TownName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address.TownName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address.Postcode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address.Postcode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address.County)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address.County)
                    </dd>

                </dl>
                <p class="text-right">
                    @Html.ActionLink("Edit Address Details", "Edit", "Addresses", new { id = Model.PersonID }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </section>
</section>
<section class="row">
    <section class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Payment Card Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.NameOnCard)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.NameOnCard)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.CardType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.CardType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.CardNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.CardNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.ExpiryMonth)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.ExpiryMonth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.ExpiryYear)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.ExpiryYear)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentCard.SecurityNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentCard.SecurityNumber)
                    </dd>
                </dl>
                               
                <p class="text-right">
                    @Html.ActionLink("Edit Payment Details", "Edit", "PaymentCards", new { id = Model.PersonID }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </section>
    <section class="col-lg-6">
        @if (Model.IsStaff)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Staff Details</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.Department)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.JobPosition)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.JobPosition)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.StartDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.StartDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.Salary)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.Salary)
                        </dd>

                        <dd>
                            <img src="~/Images/Staff/@Model.Staff.ImageURL" alt="Photo of staff" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Staff.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Staff.Description)
                        </dd>
                    </dl>
                    <p class="text-right">
                        @Html.ActionLink("Edit Staff Details", "Edit", "Staffs", new { id = Model.PersonID }, new { @class = "btn btn-success" })
                    </p>


                </div>
            </div>
        }
        else
        {
            //a button to proceed to car payment
        }
    </section>
</section>


